<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>index</servlet-name>
		<servlet-class>edu.cmu.lti.ws4j.web.DemoServlet</servlet-class>
		<!-- <load-on-startup>1</load-on-startup> -->
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ws4j</servlet-name>
		<servlet-class>edu.cmu.lti.ws4j.web.WS4JServlet</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>ws4j</servlet-name>
        <url-pattern>/ws4j</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>suggest</servlet-name>
        <servlet-class>edu.cmu.lti.ws4j.web.WordSuggestionServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>suggest</servlet-name>
		<url-pattern>/suggest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>wn</servlet-name>
		<servlet-class>edu.cmu.lti.ws4j.web.WordNetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>wn</servlet-name>
		<url-pattern>/wn</url-pattern>
	</servlet-mapping>
	<!--
	<servlet>
		<servlet-name>setup</servlet-name>
		<servlet-class>edu.cmu.lti.ws4j.web.SetupDatastore</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>setup</servlet-name>
		<url-pattern>/setup</url-pattern>
	</servlet-mapping>
	 -->
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>